spring:

  # H2 Repository Location
  datasource:
  #  url:
    #url: jdbc:h2:tcp://localhost/~/test
    #username: sa
    #password:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/puppy?serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: 1234

  # Spring Jpa ddl
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create

    # Query show
    show-sql: true

    # Query pretty print
    properties:
      hibernate:
        format_sql: true
        # 방언 MySQL 로 설정
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret: "12345678901234567890123456789010"
